body {
    background-color: #0d1b2a;
}

p {
    color:#6b8ba4;
}
label { 
    color:#6b8ba4;
}
div.object {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius:  5px;
    width: fit-content;
    height:40px;
    background-color: #1b263b;
}

div.body {
    display: flex;
    flex-direction: column;
}

p.icon {
    background-color: #324a5f;
    font-size: larger;
    width: fit-content;
    height: auto;
    color: #6b8ba4;
}

button.delete {
    height: fit-content;
}

.scroll-container {
    display: block;
    width: 85%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    background-color: #1b263b;
}
.layout {
    display: flex;
    flex-direction: row;
}

.header {
    width: 100%;
}
div.addChar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #1b263b;
}

.updateInit {
    width: 15%;
}